.cat_photo {
  height: 400px;
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.4);
}

.flex_container {
  margin-top: 40px;
  display: flex;
  column-gap: 40px;
}
.text_container {
  width: 500px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.breed-select {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// .loader {
//   font-size: 24px;
//   text-align: center;
// }

.bold_temperament {
  font-weight: 700;
}

.breed_select__none {
  display: none;
}

.loader {
  margin-top: 40px;
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 47%;
  top: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_active {
  display: none;
}
